@model IEnumerable<ContosoUniversity.Models.CourseModel>


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="courseIndexPartial"></div>

<script src="~/js/course/course.index.js"></script>